/* .carthome{
    width: 100%;
    display: flex;
    margin: 0 auto;
} */

.cartdiv{
    width: 100%;
    display: flex;
    flex-flow: column;
}

.carttrendy{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin: 0;
}

.carttrendy .homecard{
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-radius: 0;
    box-shadow: none;
}

/* .carttrendy .imageclass{
   
} */

.carttrendy .content{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.carttrendy .content button{
    width:250px;
    height:30px;
}