/* Float for columns side by side */
.productspage{
  width: 100%;
  margin:20px;
  display:flex;
  flex-direction: row; 
}

.majorshop{
  width: 95%;
  padding: 20px;
  background-color: rgb(235, 229, 233);
  border-radius: 20px;
}

.row{
  display: flex;
  flex-direction: column;
  padding: 10Px;
  background-color: white;
  border-radius: 20px;
}

.rowheader{
  display: flex;
  flex-direction: row;
  gap: 70%;
}

select{
  width:150px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.productsdiv{
  width:95%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.productsdiv .homecolumn{
  width: 30%;
  padding:10px;
}
.productsdiv .homecard{
    box-shadow: 0 1px 7px 0 rgba(28, 26, 26, 0.2);
    text-align: center;
    font-family: arial;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
}

.productsdiv .homecard:hover{
  outline:1px solid rgb(212, 120, 120);
}

.imageclass img{
    width: 150px;
    height:100px;
    margin-top: 10px;
    border-radius: 20px;
}

.content p{
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

.content button{
  font-size: 13px;
    padding: 8px;
    background-color: #3093c7;
    color: #ffffff;
    border: 1px solid #25729a;
    cursor: pointer;
}

.content  button:hover{
  border: 1px solid #1c5675;
  background-color: #26759e;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #26759e),
    color-stop(100%, #133d5b)
  );
}

.price {
  color: black;
  font-size: 22px;
  font-style: italic;
}