.sign{
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.signinForm{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap:10px;
}
.page-header{
    color: #3093c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.09em;
}

input{
    padding: 10px 15px;
    font-size: 15px;
    margin: 8px 0;
}

button{
    font-size: 20px;
    padding: 8px;
    background-color: #3093c7;
    color: #ffffff;
    border: 1px solid #25729a;
    border-radius:0 0 15px 15px;
    cursor: pointer;
    width: 100%;
}

button:hover{
    border: 1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #26759e),
      color-stop(100%, #133d5b)
    );
}

.links{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap:20px;
}

P{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.singleLink{
    color: #08a4ec;
}

.singleLink:hover{
    color: rgb(49, 49, 228);
    font-size: 21px;
    cursor: pointer;
}