.admin{
    display:flex;
    flex-direction: column;
    background-color: rgb(28, 66, 94);
}

.welcome{
    text-align: center;
     color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.adminlayout{
    height: 100%;
    background-color: rgb(57, 228, 228);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.navlinks{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.navlinks a{
    text-decoration: none;
    padding: 7px;
}

.navlinks a:hover{
    color:rgb(68, 6, 240);
}

.navlinks a.active{
    color:#fff
}